:root {
  --purple: #5d3f79;
  --purplish-gray: #d6d4d8; }

body {
  background-color: var(--purplish-gray);
  display: flex;
  font-size: x-large;
  margin-top: 20px; }

h1, h2, h3 {
  color: var(--purple); }

nav {
  width: 20%;
  position: fixed; }
  nav ul {
    margin: 0; }
  nav a,
  nav a:visited {
    text-decoration: none;
    color: black; }
  nav a.current,
  nav a:hover {
    color: var(--purple);
    text-decoration: underline;
    text-decoration-style: dotted; }

main {
  width: 80%;
  margin-left: 20%;
  padding: 0 50px; }
  main a {
    color: var(--purple);
    text-decoration-style: dotted; }
