/* for images and diagrams. there will be plenty on the site */ 

/* 
For diagrams related to the fretboard's open position
short rectangular image
*/ 

.fretboard--position-open {
    max-width: 400px;
}

main figure {
    padding: 0;
    margin: 0;
}

main figure img {
    width: 100%;
    margin: 0 auto;
    display: block;
}

main figcaption {
    text-align: center;
}

@media (min-width: 1024px) {
    main figure img { 
        //width: 70%;
    }
}

@media (min-width: 1200px) {
    main figure img {
      //  width: 60%;
    }
}