nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    ul {
        margin: 0;
    }
    a,
    a:visited {
        text-decoration: none;
        color: var(--purplish-gray);
    }
    a.current,
    a:hover {
        color: var(--purple);
        text-decoration: underline;
        text-decoration-style: dotted;
    }
    @media (min-width: 768px) {
        width: 20%;
        position: fixed;
        background-color: transparent;
    }
}

.nav--button {
    background-color: var(--black);
    border-bottom: 1px solid var(--purple);
    outline: var(--purple);
    width:100%;
    text-align: right;
    color: var(--purplish-gray);
    padding: 10px 20px;
    @media (min-width: 768px) {
        display: none;
    }
}

.nav--menu {
    display: none;
    text-align: right;
    margin: 10px;
    width: 100%;
    border: 1px solid var(--purple);
    padding: 10px;
    &.show {
        display: initial;
    }
    li {
        list-style: none;
        padding: 5px 0;
    }
    @media (min-width: 768px) {
        display: initial;
        border: 0;
        border-right: 1px dotted var(--purple);
        padding-right: 20px;
        margin-right: 0;
    }
}