.site-name {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: left;
    padding: 0;
    border-bottom: 1px solid var(--purple);
    img {
        width: 35%;
        width: 30px;
        height: 30px;
        margin-left: 15px;
    }
    p {
        width: 55%;
        font-size: 1.2em;
    }
    .nav--button {
        width: 10%;
        border-bottom: none;
    }

    @media(min-width: 768px) {
        p {
            display: none;
        }
        border-bottom: 0px;
    }
}

nav,
nav.home-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    ul {
        margin: 0;
    }
    a,
    a:visited {
        text-decoration: none;
        color: white;
    }
    a.current,
    a:hover {
        color: var(--purple);
        text-decoration: underline;
        text-decoration-style: dotted;
    }

    .nav--menu {
        display: none;
        text-align: right;
        margin: 10px;
        width: 100%;
        border: 1px solid var(--purple);
        padding: 10px;
        &.show {
            display: initial;
        }
        li {
            list-style: none;
            padding: 5px 0;
        } 
        
    }

    .nav--button {
        background-color: var(--black);
        border-bottom: 1px solid var(--purple);
        outline: var(--purple);
        width:100%;
        text-align: right;
        color: var(--purplish-gray);
        padding: 10px 20px;
    }

    @media (min-width: 768px) {
        width: 20%;
        position: fixed;
        background-color: transparent;
        padding-top: 119px;

        .nav--button {
            display: none;
        }

        .nav--menu {
            display: initial;
            border: 0;
            border-right: 1px dotted var(--purple);
            padding-right: 20px;
            margin: 0;
            padding-top: 0px;
        }

        .site-name {
            padding-bottom: 16px;
            img {
                width: 40px;
                height: 40px;
                padding-right: 10px;
            }
        }
        
        
    }
}


nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    .nav--button {
        border-bottom: 1px solid var(--purple);
        outline: var(--purple);
        width:100%;
        text-align: right;
        color: var(--purplish-gray);
        padding: 10px 20px;
        
    }

    @media (min-width: 768px) {
        padding-top: 10px;
        .nav--menu {
            margin-top: 23px;
        }
        .nav--button {
            display: none;
        }
        .site-name {
            justify-content: flex-end;
            margin-right: 10px;
        }
    }
}

