nav {
    ul {
        margin: 0;
    }
    a,
    a:visited {
        text-decoration: none;
        color: black;
    }

    a.current,
    a:hover {
        color: var(--purple);
        text-decoration: underline;
        text-decoration-style: dotted;
    }
    @media (min-width: 1024px) {
        width: 20%;
        position: fixed;
    }
}