:root {
    //--purple: #5d3f79;
    //--purple: #5f3d8a;
    --purple: #8c63c2;
    --purplish-gray: rgb(172, 141, 191);
    --dark-purple: rgba(26, 17, 32, 0.52);
   // --black: #18141e;
    --black: #120f16;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Yaldevi&display=swap');
