:root {
    //--purple: #5d3f79;
    //--purple: #5f3d8a;
    --purple: #8c63c2;
    --purplish-gray: #f2f2f3;
    --black: #18141e;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Yaldevi&display=swap');
