@import 'variables';
@import 'navigation';

body {
    background-color: var(--purplish-gray);
    font-size: x-large;
    margin-top: 20px;
    @media (min-width: 1024px) {
        display: flex;
    }
}

h1, h2, h3 {
    color: var(--purple);
}

main {
    @media (min-width: 1024px) {
        width: 80%;
        margin-left: 20%;
        padding: 0 50px;
        a {
            color: var(--purple);
            text-decoration-style: dotted;
        }
    }
}