@import 'variables';
@import 'navigation';
@import 'images';
@import 'blog';
@import 'scrollbar';

body {
    background-color: var(--black);
    font-size: x-large;
    line-height: 1.6;
    font-family: 'Yoldevi', sans-serif;
    text-shadow: #180640 0px 0px 10px;
    margin: 0;
    color: white;
}

header {
    text-align: center;
}

main {
    padding: 15px;
    border: 2px solid var(--purple);
    background-color: #313131;
}

a {
    color: var(--purple);
    text-decoration-style: dotted;
}


h1, h2, h3, h4 {
    font-family: 'Roboto Slab', serif;
    color: white;
}

@media (min-width: 768px) {
    h1 {
        text-align: left;
        margin-left: 20px;
    }
    section {
        width: 80%;
        margin-left: 20%;
    }
    main {
        margin: 20px;
    }
    main p:first-of-type {
        margin-top: 0px;
    }
}

